<div class="container">
  <div class="title-section">
    <h3> DANH SÁCH HÀNG HOÁ</h3>
  </div>
  <div class="search-bar">
    <input #searchInput type="text" placeholder="Tìm món" (keyup)="search()">
    <button class="add-item-btn" (click)="addItem()">+</button>
  </div>
  <div class="item-list">
    <div class="item-item" *ngFor="let i of items">
      <div class="item-id">{{ "HH" + i.id }}</div>
      <div class="item-name">{{ i.name }}</div>
      <div class="item-policy">{{ getNamePolicy(i.policyID) }}</div>
      <div class="item-info">
        <button (click)="showItem(i)">Thông tin</button>
      </div>
    </div>
  </div>
</div>
