<div class="container">
  <div class="header-container" *ngIf="data.type === 'create'">
    Tạo mới
  </div>
  <div class="header-container" *ngIf="data.type === 'edit'">
    Thông tin
  </div>
  <div class="form-container">
    <form #form="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-input">
        <label for="name">Tên nhóm</label>
        <input
          name="name"
          id="name"
          placeholder="Nhập..."
          [(ngModel)]="name"
          required
        />
      </div>
      <div class="form-input">
        <label for="type">Dùng cho:</label>
        <select name="type" id="type" [(ngModel)]="type">
          <option value="item">Cửa hàng</option>
          <option value="warehouse">Kho</option>
          <option value="ff">Giao đồ ăn</option>
        </select>
      </div>
      <button type="submit" [disabled]="form.invalid">Xác nhận</button>
    </form>
  </div>
  <div class="item-container" *ngIf="data.type === 'edit'">
    <div class="title">
      Danh sách món
    </div>
    <div class="item" *ngFor="let i of items">
      <div class="name">{{ i.name }}</div>
      <div class="price">{{ i.price }} vnđ</div>
    </div>
  </div>
</div>
