<div class="container">
  <div class="header-container" *ngIf="data.type === 'create'">
    Tạo mới
  </div>
  <div class="header-container" *ngIf="data.type === 'edit'">
    Thông tin
  </div>
  <div class="form-container">
    <form (ngSubmit)="onSubmit()">
      <div class="form-input">
        <label for="name">Địa chỉ cửa hàng</label>
        <input
          name="address"
          id="address"
          placeholder="Nhập..."
          [(ngModel)]="address"
        />
      </div>
      <div class="form-input">
        <label for="descreption">Tên đăng nhập</label>
        <input
          name="name"
          id="name"
          placeholder="Nhập..."
          [(ngModel)]="name"
        />
      </div>
      <div class="form-input">
        <label for="descreption">Mật khẩu</label>
        <input
          name="password"
          id="password"
          placeholder="Nhập..."
          [(ngModel)]="password"
        />
      </div>
      <div class="form-input">
        <label for="descreption">Chính sách</label>
        <select name="policy" id="policy" [(ngModel)]="policyID">
          <option *ngFor="let p of policies" [value]="p.id">{{ p.name }}</option>
        </select>
      </div>
      <div class="form-input">
        <label for="descreption">Số bàn</label>
        <input
          name="table"
          id="table"
          type="number"
          placeholder="Nhập..."
          [(ngModel)]="table"
        />
      </div>
      <button type="submit" >Xác nhận</button>
      <button class="back-btn" (click)="back()" >Trở về</button>
    </form>
  </div>
  <div class="item-container" *ngIf="data.type === 'edit'">
    <div class="title">
      Danh sách nhân viên
    </div>
    <div class="item" *ngFor="let s of staffs" (click)="showStaff(s)">
      <div class="name">{{ s.name}}</div>
      <div class="price" *ngIf="s.status === 'Active'">Đang hoạt động</div>
      <div class="price" *ngIf="s.status === 'Not_Active'">Không hoạt động</div>
    </div>
    <div class="add">
      <button class="add-btn" (click)="addSatff()">Thêm NV</button>
    </div>
  </div>
</div>

