<div class="container">
  <div class="header-container" *ngIf="data.type === 'create'">
    Tạo mới
  </div>
  <div class="header-container" *ngIf="data.type === 'edit'">
    Thông tin
  </div>
  <div class="form-container">
    <form #form="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-input">
        <label for="name">Tên nhà cung cấp</label>
        <input
          name="name"
          id="name"
          placeholder="Nhập..."
          [(ngModel)]="name"
          required
        />
      </div>
      <div class="form-input">
        <label for="phone">Số điện thoại</label>
        <input
          name="phone"
          id="phone"
          placeholder="Nhập..."
          [(ngModel)]="phone"
          required
        />
      </div>
      <button type="submit" [disabled]="form.invalid">Xác nhận</button>
    </form>
  </div>
</div>
