<div class="admin-container">
  <nav class="sidebar">
    <h2>Cấu hình</h2>
    <ul>
      <li><a routerLink="shops">Cửa hàng</a></li>
      <li><a routerLink="items">Mặt hàng</a></li>
      <li><a routerLink="groups">Nhóm mặt hàng</a></li>
      <li><a routerLink="policys">Chính sách</a></li>

      <li><a routerLink="warehouse/order">Đơn hàng</a></li>
      <li><a routerLink="warehouse/goods">Hàng hoá</a></li>
      <li><a routerLink="warehouse/supplier">Nhà cung cấp</a></li>
      <li><a routerLink="warehouse/report">Báo cáo kho</a></li>
      <li (click)="logout()"><div class="logout" >Đăng xuất</div></li>
    </ul>
  </nav>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
